Makefile
autom4te.cache
config.log
config.status
.libs
*.o
*.la
*.lo
*.loT
*.slo
build
dist
apxs_config.py
*.egg-info
*.swp
bin
include
lib
.Python
*.pyc
.tox
apxs
libtool
docs/_build
newrelic.ini
src/packages
